﻿  @model IEnumerable<Ticket.Models.Usuario>

@{
    ViewBag.Title = "Index";
}
<style>
    body {
       background: url("https://ayudawp.com/wp-content/uploads/2014/02/usuario-registrado.jpg")
    }

    .btn-info {
        border-radius: 4px;
    }

    .btn-warning{
        border-radius: 6px;
    }

    h2 {
        font-style: italic
    }

    p {
        font-style: italic;
        background-color: aquamarine;
        border-radius: 12px;
    }

</style>

<h2>Usuarios</h2>

<p>
    @Html.ActionLink("Agregar un Nuevo Usuario", "Create")
</p>
<table class="table table-hover ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.rol.nombreRol)
        </th>
        <th class="alert-info">
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido)
        </th>
        <th class="alert-info">
            @Html.DisplayNameFor(model => model.dpi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tarjeta)
        </th>
        <th class="alert-info">
            @Html.DisplayNameFor(model => model.correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nick)
        </th>
        <th class="alert-info">
            @Html.DisplayNameFor(model => model.contrasena)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.rol.nombreRol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dpi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tarjeta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nick)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contrasena)
        </td>
        <td class="btn-warning radio-inline">
            @Html.ActionLink("Edit", "Edit", new { id=item.idUsuario }) 
        </td>
        <td class="btn-info radio-inline">
            @Html.ActionLink("Details", "Details", new { id = item.idUsuario }) 
        </td>
        <td class="btn-warning radio">
            @Html.ActionLink("Delete", "Delete", new { id = item.idUsuario })
        </td>
    </tr>
}

</table>
