﻿@model Ticket.Models.Evento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Evento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.categoria.nombreCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoria.nombreCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personal.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personal.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lugarEvento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lugarEvento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cupoEvento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cupoEvento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horaEvento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horaEvento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaEvento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaEvento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precioEvento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precioEvento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idEvento }) |
    @Html.ActionLink("Back to List", "Index")
</p>
