﻿@model IEnumerable<Ticket.Models.Evento>

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
    .p {
        background-color: paleturquoise
    }

    .alert-danger {
        border-radius: 8px;
    }

    .btn-info {
        border-radius: 10px;
    }

    body {
        background: url("http://www.solofondos.com/wp-content/uploads/2016/01/Fondos-de-pantalla-blanco.jpg")
    }

</style>

<h2>Eventos</h2>

<p>
    @Html.ActionLink("Agregar un Evento", "Create")
</p>
<table class="table">
    <tr>
        <th class="alert-warning">
            @Html.DisplayNameFor(model => model.categoria.nombreCategoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.personal.nombre)
        </th>
        <th class="alert-warning">
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lugarEvento)
        </th>
        <th class="alert-warning">
            @Html.DisplayNameFor(model => model.cupoEvento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horaEvento)
        </th>
        <th class="alert-warning">
            @Html.DisplayNameFor(model => model.fechaEvento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precioEvento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.categoria.nombreCategoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.personal.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lugarEvento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cupoEvento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horaEvento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaEvento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precioEvento)
        </td>
        <td class="alert-danger radio">
            @Html.ActionLink("Edit", "Edit", new { id=item.idEvento }) 
        </td>
        <td class="btn-info radio">
            @Html.ActionLink("Details", "Details", new { id = item.idEvento }) 
        </td>
        <td class="alert-danger radio">
            @Html.ActionLink("Delete", "Delete", new { id = item.idEvento })
        </td>
    </tr>
}

</table>
